<template>
    <div>
       <div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-md-3">
						<div class="_1adminOverveiw_card _box_shadow _border_radious _mar_b30 _1adminOverveiw_bg_one">
							<div class="_1adminOverveiw_card_left">
								<p class="_1adminOverveiw_card_left_num">{{totalNews}}</p>

								<p class="_1adminOverveiw_card_left_title">Total News</p>
							</div>
							<div class="_1adminOverveiw_card_right">
								<Icon type="ios-paper" />
							</div>
						</div>
					</div>

					<div class="col-12 col-md-3">
						<div class="_1adminOverveiw_card _box_shadow _border_radious _mar_b30 _1adminOverveiw_bg_two">
							<div class="_1adminOverveiw_card_left">
								<p class="_1adminOverveiw_card_left_num">{{totalFood}}</p>

								<p class="_1adminOverveiw_card_left_title">Total Food Recommendation</p>
							</div>
							<div class="_1adminOverveiw_card_right">
								<Icon type="ios-paper-outline" />
							</div>
						</div>
					</div>

					<div class="col-12 col-md-3">
						<div class="_1adminOverveiw_card _box_shadow _border_radious _mar_b30 _1adminOverveiw_bg_two">
							<div class="_1adminOverveiw_card_left">
								<p class="_1adminOverveiw_card_left_num">{{totaltransport}}</p>

								<p class="_1adminOverveiw_card_left_title">Total Transport Recommendation</p>
							</div>
							<div class="_1adminOverveiw_card_right">
								<Icon type="md-copy" />
							</div>
						</div>
					</div>

					<div class="col-12 col-md-3">
						<div class="_1adminOverveiw_card _box_shadow _border_radious _mar_b30 _1adminOverveiw_bg_two">
							<div class="_1adminOverveiw_card_left">
								<p class="_1adminOverveiw_card_left_num">{{totalutility}}</p>

								<p class="_1adminOverveiw_card_left_title">Total Utility Recommendation</p>
							</div>
							<div class="_1adminOverveiw_card_right">
								<Icon type="md-list-box" />
							</div>
						</div>
					</div>
				</div>	
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">News</p>

					<div class="_overflow _table_div">
						<table class="_table">
							<tr>
								<th>Date</th>
								<th>Place</th>
								<th>Title</th>
								<!-- <th>Action</th> -->
							</tr>
							<tr v-for="(news, i) in newsLists" :key="i" v-if="newsLists.length">
								<td>{{news.dateTime}}</td>
								<td>{{news.place}}</td>
								<td class="_table_name">{{news.title}}</td>
								
								<!-- <td>
									<button class="_btn _action_btn view_btn1" type="button">View</button>
									<button class="_btn _action_btn edit_btn1" type="button">Edit</button>
									<button class="_btn _action_btn make_btn2" type="button">Make Features</button>
									<button class="_btn _action_btn make_btn3" type="button">Make Card</button>
									<button class="_btn _action_btn make_btn1" type="button">Delete</button>
								</td> -->
							</tr>
							
						</table>
					</div>
				</div>
				 <!-- <Page :total="100" /> -->

			</div>
		</div>
    </div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
	data(){
		return {
            msgModal: false,
			data : {
				sliderImg: '', 
				title: '',
				place: '',
				dateTime: '',
				description: ''
			}, 
			addModal : false, 
			editModal : false, 
			isAdding : false, 
			totalFood : [], 
			newsLists : [], 
			totalNews : [], 
			totaltransport : [], 
			totalutility : [], 
			editData : {
				sliderImg: '', 
				title: '',
				place: '',
				dateTime: '',
				description: ''
            }, 
            newsId:'',
			index : -1, 
			showDeleteModal: false, 
			isDeleing : false,
			deleteItem: {}, 
            deletingIndex: -1, 
			token: '', 
			isIconImageNew: false, 
			isEditingItem: false,
			websiteSettings: []

		}
	},

	async created(){
		const [res,res1,res2,res3,res4] = await Promise.all([
			this.callApi('get', 'app/get_news'), 
			this.callApi('get', 'app/totalNews'),
			this.callApi('get', 'app/getTotalFoodRecommendation'),
			this.callApi('get', 'app/getTotaltransportRecommendation'),
			this.callApi('get', 'app/getTotalutilityRecommendation'),
		]);
		if( res.status == 200 & res1.status == 200){
			this.newsLists = res.data
			this.totalNews = res1.data
			this.totalFood = res2.data
			this.totaltransport = res3.data
			this.totalutility = res4.data
		} else {
			this.swr()
			
		}
	},
	

	
}
</script>