<template>
    <div>
      <div v-if="$store.state.user">
      <!--========== ADMIN SIDE MENU one ========-->
      <div class="_1side_menu" >
        <div class="_1side_menu_logo">
          <h3 style="text-align:center;">Logo Image</h3>
          <!--<img src="/img/logo.jpg" style="width: 108px;margin-left: 68px;"/>-->
        </div>

        <!--~~~~~~~~ MENU CONTENT ~~~~~~~~-->
        <div class="_1side_menu_content">
          <div class="_1side_menu_img_name">
            <!-- <img class="_1side_menu_img" src="/pic.png" alt="" title=""> -->
            <p class="_1side_menu_name">Admin</p>
          </div>

          <!--~~~ MENU LIST ~~~~~~-->
          <div class="_1side_menu_list">
            <ul class="_1side_menu_list_ul">
              <li><router-link to="/"><Icon type="ios-speedometer" /> Dashboard</router-link></li>
              <li><router-link to="food_recommandation"><Icon type="ios-pizza" /> Food Recommandation</router-link></li>
              <li><router-link to="transport_recommandation"><Icon type="ios-bus" /> Transport Recommandation</router-link></li>
              <li><router-link to="utility_recommandation"><Icon type="md-phone-landscape" /> Electric Appliances Recommandation</router-link></li>
              <li><router-link to="contact_us"><Icon type="ios-contact" /> Contact Us</router-link></li>
              <li><router-link to="about"><Icon type="ios-people" /> About Us</router-link></li>
              <li><router-link to="news_page"><Icon type="md-paper" /> News Page</router-link></li>
              <li><router-link to="FAQ_topic"><Icon type="ios-list-box" /> FAQ Topic</router-link></li>
              <li><router-link to="mainFAQ"><Icon type="ios-albums" /> FAQ</router-link></li>
              <li><router-link to="question"><Icon type="ios-help" /> Quiz questions</router-link></li>
              <li><router-link to="choice"><Icon type="ios-list" /> Quiz Choices</router-link></li>
              <li><router-link to="paypal_info"><Icon type="ios-card" /> Paypal Info</router-link></li>
              <li><a href="/logout"><Icon type="ios-log-out" /> Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--========== ADMIN SIDE MENU ========-->

      <!--========= HEADER ==========-->
      <div class="header">
        <div class="_2menu _box_shadow">
          <div class="_2menu_logo">
            <ul class="open_button">
              <li>
                <Icon type="ios-list" />
              </li>
              <!--<li><Icon type="ios-albums" /></li>-->
            </ul>
          </div>
        </div>
      </div>
      <!--========= HEADER ==========-->
    </div>
    	<router-view/>
    </div>
</template>

<script>
export default {
    props: ['user'],
    data(){
       return {
          isLoggedIn : true, 
       }
    }, 
    created(){
       this.$store.commit('updateUser', this.user)
    }
}
</script>