<template>
    <div>
       <div class="content">
			<div class="container-fluid">
				
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">About </p>
                    <!-- <Button @click="addModal=true"><Icon type="md-add" /> Add news</Button> -->

					<div class="_overflow _table_div">
						<table class="_table">
								<!-- TABLE TITLE -->
							<tr>
								<th>No.</th>
								<th>Description</th>
								<th>Action</th>
							</tr>
								<!-- TABLE TITLE -->


								<!-- ITEMS -->
							<tr v-for="(about, i) in aboutLists" :key="i" v-if="aboutLists.length">
								<td>{{i+1}}</td>
                                <td v-if="about.description">
                                    <span v-if="about.description.length<=100">{{about.description}}</span> 
                                    <span v-else @click="viewMore(about.id)">{{about.description.substring(1, 100)}}.. <Button type="info">See more</Button></span>
                                </td>
								<!-- <td>{{about.description}}</td> -->
								<td>
									<Button type="info" size="small" @click="showEditModal(about, i)">Edit</Button> 
								    <!-- <Button type="error" size="small" @click="showDeletingModal(about, i)"  :loading="about.isDeleting">Delete</Button> -->
									
								</td>
							</tr>
								<!-- ITEMS -->
					</table>
					</div>
				</div>


				
				<!--  editing modal -->
				<Modal
					v-model="editModal"
					title="Edit about"
                    width="600px;"
					:mask-closable="false"
					:closable="false"

					>
                    <!-- <Input v-model="editData.title" placeholder="Add Tittle"  />
                    <div class="space"></div>
					<Input v-model="editData.place" placeholder="Add place"  />
                    <div class="space"></div>
					<DatePicker type="datetime" format="yyyy-MM-dd HH:mm" @on-change="editPsDate" :value="editData.dateTime" placeholder="Select date and time" style="width: 200px"></DatePicker>
					<div class="space"></div> -->
                    <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}" v-model="editData.description" placeholder="Add description"  />
                    <div class="space"></div>
                    <!-- <Upload v-show="isIconImageNew"
                        ref="editDataUploads"
                        type="drag"
                        :headers="{'x-csrf-token' : token, 'X-Requested-With' : 'XMLHttpRequest'}"
						:on-success="handleSuccess"
						:on-error="handleError"
						:format="['jpg','jpeg','png']"
						:max-size="2048"
						:on-format-error="handleFormatError"
						:on-exceeded-size="handleMaxSize"
                        action="/app/upload">
                        <div style="padding: 20px 0">
                            <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                            <p>Click or drag files here to upload</p>
                        </div>
                    </Upload> -->
					<!-- <div class="demo-upload-list" v-if="editData.sliderImg">
						
							<img :src="`${editData.sliderImg}`">
							<div class="demo-upload-list-cover">
								<Icon type="ios-trash-outline" @click="deleteImage(false)"></Icon>
							</div>
						
						
					</div> -->
					
					<div slot="footer">
						<Button type="default" @click="closeEditModal">Close</Button>
						<Button type="primary" @click="editAbout" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Editing..' : 'Edit about'}}</Button>
					</div>

				</Modal>
				<deleteModal></deleteModal>
                <Modal
                v-model="msgModal"
                width="600px;"
                :mask-closable="false"
                title="message"
                        >
                    <div class="row mText-center" >
                    <div class="col-12 col-md-12">
                        <div class="_3login_input_group">
                        <p>{{data.description}}</p>
                        </div>
                    </div>
                    </div>
                    <div slot="footer">
                    <Button  type="primary"  @click="msgModal = false">Cancel</Button>
                    </div>
                </Modal>
			</div>
		</div>
    </div>
</template>


<script>
import deleteModal from '../components/deleteModal.vue'
import {mapGetters} from 'vuex'
export default {
	data(){
		return {
            msgModal: false,
			data : {
				sliderImg: '', 
				title: '',
				place: '',
				dateTime: '',
				description: ''
			}, 
			addModal : false, 
			editModal : false, 
			isAdding : false, 
			aboutLists : [], 
			editData : {
				sliderImg: '', 
				title: '',
				place: '',
				dateTime: '',
				description: ''
            }, 
            aboutId:'',
			index : -1, 
			showDeleteModal: false, 
			isDeleing : false,
			deleteItem: {}, 
            deletingIndex: -1, 
			token: '', 
			isIconImageNew: false, 
			isEditingItem: false,
			websiteSettings: []

		}
	},

	methods : {
        addPsDate(date){
              this.data.dateTime=date
          },
        editPsDate(date){
              this.editData.dateTime=date
          },
        async viewMore (id) {
            this.aboutId = id
            const res = await this.callApi('get',`app/getAboutDescription?aboutId=${this.aboutId}`)
            if(res.status == 200){
                this.data = res.data
                this.msgModal = true;
            }
        },
		
		async editAbout(){
            // if(this.editData.title.trim()=='') return this.e('title is required')
			// if(this.editData.place.trim()=='') return this.e('place is required')
			// if(this.editData.dateTime == '') return this.e('dateTime is required')
			if(this.editData.description.trim()=='') return this.e('description is required')
			// if(this.editData.sliderImg == null) return this.e('Image is required')
			// if(this.editData.categoryName.trim()=='') return this.e('Category name is required')
			// if(this.editData.sliderImg.trim()=='') return this.e('Icon image is required')
			const res = await this.callApi('post', 'app/edit_about', this.editData)
			if(res.status===200){
				this.aboutLists[this.index] = this.editData
				this.s('News has been edited successfully!')
				this.editModal = false
				
			}else{
				if(res.status==422){
					
					if(res.data.errors.description){
						this.e(res.data.errors.description[0])
					}
					
					
				}else{
					this.swr()
				}
				
			}

		},
		showEditModal(about, index){
			// let obj = {
			// 	id : tag.id, 
			// 	tagName : tag.tagName
			// }
			console.log(about)
			this.editData = about
			this.editModal = true
			this.index = index
			this.isEditingItem = true
		}, 
		
		// showDeletingModal(about, i){
		//  const deleteModalObj  =  {
		// 		showDeleteModal: true, 
		// 		deleteUrl : 'app/delete_news', 
		// 		data : news, 
		// 		deletingIndex: i, 
		// 		isDeleted : false,
		// 	}
		// 	this.$store.commit('setDeletingModalObj', deleteModalObj)
			

		// }, 
		handleSuccess (res, file) {
			res = `/uploads/${res}`
			if(this.isEditingItem){
				console.log('inside')
				return this.editData.sliderImg = res
			}
			console.log(res)
			this.data.sliderImg = res
		},
		handleError (res, file) {
			this.$Notice.warning({
				title: 'The file format is incorrect',
				desc: `${file.errors.file.length ? file.errors.file[0] : 'Something went wrong!'}`
			});
		},
		handleFormatError (file) {
			this.$Notice.warning({
				title: 'The file format is incorrect',
				desc: 'File format of ' + file.name + ' is incorrect, please select jpg or png.'
			});
		},
		handleMaxSize (file) {
			this.$Notice.warning({
				title: 'Exceeding file size limit',
				desc: 'File  ' + file.name + ' is too large, no more than 2M.'
			});
		},
		async deleteImage(isAdd=true){
			let image
			if(!isAdd){ // for editing.... 
				this.isIconImageNew = true
				image = this.editData.sliderImg
				this.editData.sliderImg = ''
				this.$refs.editDataUploads.clearFiles()
			}else{
				image = this.data.sliderImg
				this.data.sliderImg = ''
				this.$refs.uploads.clearFiles()
			}
			
			const res = await this.callApi('post', 'app/delete_image', {imageName: image})
			if(res.status!=200){
				this.data.sliderImg = image
				this.swr()
			}
		}, 
		closeEditModal(){
			this.isEditingItem = false
			this.editModal = false
		}
	}, 

	async created(){
        this.token = window.Laravel.csrfToken
		const res = await this.callApi('get', 'app/get_about')
		if(res.status==200){
			this.aboutLists = res.data
		}else{
			this.swr()
		}
	}, 
	components : {
		deleteModal
	},
	computed : {
		...mapGetters(['getDeleteModalObj'])
	},
	watch : {
		getDeleteModalObj(obj){
			if(obj.isDeleted){
				this.aboutLists.splice(obj.deletingIndex,1)
			}
		}
	}


	
}
</script>