<template>
    <div>
       <div class="content">
			<div class="container-fluid">
				
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">Quiz Choice <Button @click="addModal=true"><Icon type="md-add" /> Add Quiz Choice</Button></p>
                    
					<div class="_overflow _table_div" v-for="(top, index) in questionLists" :key="index">
						<br>
						<p class="_title0">{{ top.question}}</p>
						<table class="_table" >
							<tr>
								<th>No.</th>
								<th>choice</th>
								<th>Is Right?</th>
								<th>Action</th>
							</tr>
							<tr v-for="(item, index) in choiceLists" :key="index" v-if="item.question_id==top.id">
								<td>{{index+1}} </td>
								<template >
									<td>{{item.choice}} </td>
                                <template v-if="item.is_right_choice == 0">
                                    <td> Wrong </td>
                                </template>
                                <template v-else>
                                    <td> Right </td>
                                </template>
									<td>
										<Button type="info" size="small" @click="showEditModal(item, index)">Edit</Button> 
										<Button type="error" size="small" @click="topic_delete(item.id, index)"  :loading="item.isDeleting">Delete</Button>
									
									</td>
								</template>
                                
                                
							</tr>
						</table>
					</div>
					
					
				</div>


				<!-- tag adding modal -->
				<Modal
					v-model="addModal"
					title="Add Quiz Choice"
					:mask-closable="false"
					:closable="false"
					>
                    <Select v-model="data.question_id" style="width:100%" placeholder="Select Question">
                        <Option v-for="(item,index) in questionLists" :key="index" :value="item.id">{{item.question}}</Option>
                    </Select>
                    <div class="space"></div>

                    <Input v-model="data.choice" placeholder="Add Choice"  />
                    <div class="space"></div>
                    
                    <Select v-model="data.is_right_choice" style="width:100%" placeholder="Is right?">
                        <Option :value="0">Wrong</Option>
                        <Option :value="1">Right</Option>
                    </Select>
                    <div class="space"></div>
					<div slot="footer">
						<Button type="default" @click="addModal=false">Close</Button>
						<Button type="primary" @click="addChoice" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Adding..' : 'Add question'}}</Button>
					</div>

				</Modal>
				<!--  editing modal -->
				<Modal
					v-model="editModal"
					title="Edit Choice"
					:mask-closable="false"
					:closable="false"
					>
                    <Select v-model="editData.question_id" style="width:100%" placeholder="Select Question">
                        <Option v-for="(item,index) in questionLists" :key="index" :value="item.id">{{item.question}}</Option>
                    </Select>
                    <div class="space"></div>

                    <Input v-model="editData.choice" placeholder="Add Choice"  />
                    <div class="space"></div>
                    
                    <Select v-model="editData.is_right_choice" style="width:100%" placeholder="Is right?">
                        <Option :value="0">Wrong</Option>
                        <Option :value="1">Right</Option>
                    </Select>
                    <div class="space"></div>

					<div slot="footer">
						<Button type="default" @click="closeEditModal">Close</Button>
						<Button type="primary" @click="editChoice" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Editing..' : 'Edit question'}}</Button>
					</div>

				</Modal>
				<deleteModal></deleteModal>
                
			</div>
		</div>
    </div>
</template>


<script>
import deleteModal from '../components/deleteModal.vue'
import {mapGetters} from 'vuex'
export default {
	data(){
		return {
			data : {
				question_id: '',
                choice: '',
                is_right_choice: '',
			}, 
			addModal : false, 
			editModal : false, 
			isAdding : false, 
			questionLists : [], 
			choiceLists : [], 
			questionChoiceLists : [], 
			editData : {
            }, 
			index : -1, 
			showDeleteModal: false, 
			isDeleing : false,
			deleteItem: {}, 
            deletingIndex: -1, 
			token: '', 
			isIconImageNew: false, 
			isEditingItem: false,
			websiteSettings: []

		}
	},

	methods : {
		async topic_delete(id,index){
            let ob = {
                id:id
            }
            const res = await this.callApi('post','app/deleteChoice',ob)
            if(res.status == 200){
                this.i('Choice have been successfully Deleted!')
                this.choiceLists.splice(index,1)
            }
        },
        
		async addChoice(){
			
			if(this.data.question_id =='') return this.e('Question is required')
			if(this.data.choice.trim()=='') return this.e('Choice is required')
			// if(this.data.is_right_choice =='') return this.e('Right/Wrong is required')
			
			const res = await this.callApi('post', 'app/create_choice', this.data)
			if(res.status===200){
				console.log(res.data)
				this.choiceLists.unshift(res.data)
				this.s('Choice has been added successfully!')
				
				this.data.question_id = ''
				this.data.choice = ''
				this.data.is_right_choice = ''
                this.data={}
				this.addModal = false
			}else{
				if(res.status==422){
					
					if(res.data.errors.question_id){
						this.e(res.data.errors.question_id[0])
					}
					if(res.data.errors.choice){
						this.e(res.data.errors.choice[0])
					}
					if(res.data.errors.is_right_choice){
						this.e(res.data.errors.is_right_choice[0])
					}
					
				}else{
					this.swr()
				}
				
			}

		},
		async editChoice(){
            if(this.editData.question_id =='') return this.e('Question is required')
			if(this.editData.choice.trim()=='') return this.e('Choice is required')
			// if(this.editData.is_right_choice =='') return this.e('Right/Wrong is required')
			const res = await this.callApi('post', 'app/edit_choice', this.editData)
			if(res.status===200){
				this.choiceLists[this.index] = this.editData
                this.s('Choice has been edited successfully!')
                this.editData={}
				this.editModal = false
				
			}else{
				if(res.status==422){
					if(res.editData.errors.question_id){
						this.e(res.editData.errors.question_id[0])
					}
					if(res.editData.errors.choice){
						this.e(res.editData.errors.choice[0])
					}
					if(res.editData.errors.is_right_choice){
						this.e(res.editData.errors.is_right_choice[0])
					}
				}else{
					this.swr()
				}
				
			}

		},
		showEditModal(item, index){
			this.editData = item
			this.editModal = true
			this.index = index
			this.isEditingItem = true
		}, 
		
		showDeletingModal(item, index){
		 const deleteModalObj  =  {
				showDeleteModal: true, 
				deleteUrl : 'app/delete_question', 
				data : item, 
				deletingIndex: index, 
				isDeleted : false,
			}
			this.$store.commit('setDeletingModalObj', deleteModalObj)
			

		}, 
		
		
		closeEditModal(){
			this.isEditingItem = false
			this.editModal = false
		}
	}, 
    async created(){
		const [res,res1,res2] = await Promise.all([
			this.callApi('get', 'app/get_question'), 
			this.callApi('get', 'app/getChoice'),
			this.callApi('get', 'app/getQuestionChoice'),
		]);
		if( res.status == 200 & res1.status == 200 && res2.status == 200){
			this.questionLists = res.data
			this.choiceLists = res1.data
			this.questionChoiceLists = res2.data
		} else {
			this.swr()
			
		}
	},
	components : {
		deleteModal
	},
	computed : {
		...mapGetters(['getDeleteModalObj'])
	},
	watch : {
		getDeleteModalObj(obj){
			if(obj.isDeleted){
				this.questionLists.splice(obj.deletingIndex,1)
			}
		}
	}


	
}
</script>