<template>
    <div>
       <div class="content">
			<div class="container-fluid">
				
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">FAQ Topic </p>
                    <!-- <Button @click="addModal=true"><Icon type="md-add" /> Add news</Button> -->
                    <div class="row justify-content-between" style="margin-bottom:20px">
                        <div class="col-md-6 offset-md-3">
                            <div class="designation text-center">
                                <Input v-model="form.name" placeholder="FAQ Topic" style="width: 300px" />
                                <Button @click="form_submmit" type="info">Create</Button>
                            </div>
                        </div>
                    </div>

					<div class="_overflow _table_div">
						<table class="_table">
								<!-- TABLE TITLE -->
							<tr>
								<th>No.</th>
								<th>FAQ Topic</th>
								<th>Action</th>
							</tr>
								<!-- TABLE TITLE -->


								<!-- ITEMS -->
							<tr v-for="(item, index) in topicLists" :key="index">
								<td>
                                    <p>{{index+1}}</p>
                                </td>
                                <td>
                                    <template  v-if="isEdit && index == editIndex">  
                                        <Input v-model="edit_form.name" placeholder="Enter topic..."/>
                                    </template>
                                    <template v-else>
                                        <p>{{item.name}}</p>
                                    </template>
                                </td>
                                <td>
                                    <template   v-if="isEdit && index == editIndex">
                                        <button class="btn btn-success" @click="updateTopic" >Save</button>
                                        <button class="btn btn-warning" @click="isEdit = false">Cancel</button>
                                    </template>
                                    <template v-else>
                                        <Button type="info" @click="isEditOn(item,index)">Edit</Button>
                                        <Button type="error" @click="topic_delete(item.id,index)">Delete</Button>
                                    </template>
                                </td>
							</tr>
								<!-- ITEMS -->
					</table>
					</div>
				</div>


				
				<!--  editing modal -->

				<deleteModal></deleteModal>
                
			</div>
		</div>
    </div>
</template>


<script>
import deleteModal from '../components/deleteModal.vue'
import {mapGetters} from 'vuex'
export default {
	data(){
		return {
            topicLists:[],
            form:{
                name:''
            },
            edit_form:{
                name:'',
                id:''
            },
            editindex:-1,
            isEdit:false,


           
		}
	},

	methods : {
        async topic_delete(id,index){
            let ob = {
                id:id
            }
            const res = await this.callApi('post','app/deleteFAQtopic',ob)
            if(res.status == 200){
                this.i('Topic have been successfully Deleted!')
                this.topicLists.splice(index,1)
            }
        },
        isEditOn(item,index){
            this.edit_form = _.clone(item) 
            this.editIndex = index
            this.isEdit = true
        },
        async form_submmit(){
            if(this.form.name=='') return this.i("Topic name is empty")
            const res = await this.callApi('post','app/storeFAQtopic',this.form)
            if(res.status == 201){
                this.s('Topic have been added successfully')
                this.topicLists.push(res.data)
                this.form.name = ''
            }
            else{
                this.swr()
                }
        },
        async updateTopic(){
            if(this.edit_form.name == '') return this.i("Topic Name is empty!");
            const res = await this.callApi('post','app/editFAQtopic',this.edit_form)
            if(res.status == 200){
                this.topicLists[this.editIndex] = _.clone(this.edit_form) 
                this.s("Topic Updated  !")
                let ob ={
                    name:'',
                    id:'',
                }
                this.edit_form = ob 
                this.editIndex = -1
                this.isEdit = false
            }
            else{
                this.swr();
            }
        },
        
		
	}, 

	async created(){
        this.token = window.Laravel.csrfToken
        
		const res = await this.callApi('get', 'app/get_faqTopic')
		if(res.status==200){
			this.topicLists = res.data
		}else{
			this.swr()
		}
	}, 
	components : {
		deleteModal
	},
	computed : {
		...mapGetters(['getDeleteModalObj'])
	},
	watch : {
		getDeleteModalObj(obj){
			if(obj.isDeleted){
				this.aboutLists.splice(obj.deletingIndex,1)
			}
		}
	}


	
}
</script>