<template>
    <div>
       <div class="content">
			<div class="container-fluid">
				
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<!-- <p class="_title0">FAQ </p>
                    <Button @click="addModal=true"><Icon type="md-add" /> Add news</Button> -->
                    <p class="_title0">FAQ <Button @click="addModal=true"><Icon type="md-add" /> Add FAQ</Button></p>

					<div class="_overflow _table_div" v-for="(top, index) in topicLists" :key="index">
						<br>
						<p class="_title0">{{ top.name}}</p>
						<table class="_table" >
							<tr>
								<th>Question</th>
								<th>Answer</th>
								<th>Action</th>
							</tr>
							<tr v-for="(item, index) in FaqLists" :key="index" v-if="item.topic_id==top.id">
								<template >
									<td>
										<p>{{item.question}}</p>
									</td>
									<td>
										<p>{{item.answer}}</p>
									</td>
									<td>
										<Button type="info" size="small" @click="showEditModal(item, index)">Edit</Button> 
										<Button type="error" size="small" @click="topic_delete(item.id, index)"  :loading="item.isDeleting">Delete</Button>
									
									</td>
								</template>
                                
                                
							</tr>
						</table>
					</div>


                    
                
				</div>

				<deleteModal></deleteModal>
                <Modal
					v-model="addModal"
					title="Add FAQ"
					:mask-closable="false"
					:closable="false"
					>
                    
                    <Select v-model="form.topic_id" style="width:100%" placeholder="Select Topic">
                        <Option v-for="(item,index) in topicLists" :key="index" :value="item.id">{{item.name}}</Option>
                    </Select>
                    <div class="space"></div>
					<Input type="textarea" v-model="form.question" placeholder="Add Question"  />
                    <div class="space"></div>
                    <Input type="textarea" v-model="form.answer" placeholder="Add Answer"  />
                    <div class="space"></div>
                    
					<div slot="footer">
						<Button type="default" @click="addModal=false">Close</Button>
						<Button type="primary" @click="addFAQ" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Adding..' : 'Add FAQ'}}</Button>
					</div>

				</Modal>
				<Modal
					v-model="editModal"
					title="Edit FAQ"
					:mask-closable="false"
					:closable="false"
					>

					<Select v-model="editData.topic_id" style="width:100%" placeholder="Select Topic">
                        <Option v-for="(item,index) in topicLists" :key="index" :value="item.id">{{item.name}}</Option>
                    </Select>
                    <div class="space"></div>
					<Input type="textarea" v-model="editData.question" placeholder="Add Question"  />
                    <div class="space"></div>
                    <Input type="textarea" v-model="editData.answer" placeholder="Add Answer"  />
                    <div class="space"></div>

					
					<div slot="footer">
						<Button type="default" @click="closeEditModal">Close</Button>
						<Button type="primary" @click="editFAQ" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Editing..' : 'Edit FAQ'}}</Button>
					</div>

				</Modal>
                
			</div>
		</div>
    </div>
</template>


<script>
import deleteModal from '../components/deleteModal.vue'
import {mapGetters} from 'vuex'
export default {
	data(){
		return {
            topicLists:[],
            FaqLists:[],
            form:{
                topic_id:0,
                question:'',
                answer:''
            },
            editData:{},
            editindex:-1,
            isEdit:false,
            addModal : false,
            editModal : false,
            isAdding : false,
		   showDeleteModal: false, 
		   deletingIndex: -1,
		}
	},

	methods : {
		async editFAQ(){
			if(this.editData.topic_id=='') return this.e('Topic is required')
			if(this.editData.question.trim()=='') return this.e('Question is required')
			if(this.editData.answer.trim()=='') return this.e('Answer is required')
            
			const res = await this.callApi('post', 'app/edit_FAQ', this.editData)
			if(res.status===200){
				this.FaqLists[this.index] = this.editData
				this.s('FAQ has been edited successfully!')
				this.editModal = false
				
			}else{
				if(res.status==422){
					if(res.editData.errors.topic_id){
						this.e(res.editData.errors.topic_id[0])
					}
					if(res.editData.errors.question){
						this.e(res.editData.errors.question[0])
					}
					if(res.editData.errors.answer){
						this.e(res.editData.errors.answer[0])
					}
                   
				}else{
					this.swr()
				}
				
			}

		},
        async addFAQ(){
			if(this.form.topic_id=='') return this.e('Topic is required')
			if(this.form.question.trim()=='') return this.e('Question is required')
			if(this.form.answer.trim()=='') return this.e('Answer is required')
			const res = await this.callApi('post', 'app/create_FAQ', this.form)
			if(res.status===201){
				console.log(res.form)
				this.FaqLists.push(res.data)
				this.s('FAQ has been added successfully!')
				this.form.topic_id = ''
				this.form.question = ''
				this.form.answer = ''
                this.form={}
				this.addModal = false
			}else{
				if(res.status==422){
					if(res.form.errors.topic_id){
						this.e(res.form.errors.topic_id[0])
					}
					if(res.form.errors.question){
						this.e(res.form.errors.question[0])
					}
					if(res.form.errors.answer){
						this.e(res.form.errors.answer[0])
					}
				}else{
					this.swr()
				}
            }
		},
		showEditModal(item, index){
			this.editData = item
			this.editModal = true
			this.index = index
			this.isEditingItem = true
		}, 
		showDeletingModal(item, index){
		 const deleteModalObj  =  {
				showDeleteModal: true, 
				deleteUrl : 'app/delete_FAQ', 
				data : item, 
				deletingIndex: index, 
				isDeleted : false,
			}
			this.$store.commit('setDeletingModalObj', deleteModalObj)
		}, 
        async topic_delete(id,index){
            let ob = {
                id:id
            }
            const res = await this.callApi('post','app/delete_FAQ',ob)
            if(res.status == 200){
                this.i('FAQ have been successfully Deleted!')
                this.FaqLists.splice(index,1)
            }
        },
        // isEditOn(item,index){
        //     this.edit_form = _.clone(item) 
        //     this.editIndex = index
        //     this.isEdit = true
        // },
        async form_submmit(){
            if(this.form.name=='') return this.i("Topic name is empty")
            const res = await this.callApi('post','app/storeFAQtopic',this.form)
            if(res.status == 201){
                this.s('Topic have been added successfully')
                this.topicLists.push(res.data)
                this.form.name = ''
            }
            else{
                this.swr()
                }
        },
        async updateTopic(){
            if(this.edit_form.name == '') return this.i("Topic Name is empty!");
            const res = await this.callApi('post','app/editFAQtopic',this.edit_form)
            if(res.status == 200){
                this.topicLists[this.editIndex] = _.clone(this.edit_form) 
                this.s("Topic Updated  !")
                let ob ={
                    name:'',
                    id:'',
                }
                this.edit_form = ob 
                this.editIndex = -1
                this.isEdit = false
            }
            else{
                this.swr();
            }
        },
        closeEditModal(){
			this.isEditingItem = false
			this.editModal = false
		}
		
	}, 

	
	async created(){
		const [res,res1] = await Promise.all([
			this.callApi('get', 'app/get_faqTopic'), 
			this.callApi('get', 'app/getFaq'),
		]);
		if( res.status == 200 & res1.status == 200){
			this.topicLists = res.data
			this.FaqLists = res1.data
		} else {
			this.swr()
			
		}
	},
	components : {
		deleteModal
	},
	computed : {
		...mapGetters(['getDeleteModalObj'])
	},
	watch : {
		getDeleteModalObj(obj){
			if(obj.isDeleted){
				this.FaqLists.splice(obj.deletingIndex,1)
			}
		}
	}


	
}
</script>