<template>
    <div>
       <div class="content">
			<div class="container-fluid">
				
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">News <Button @click="addModal=true"><Icon type="md-add" /> Add news</Button></p>
                    

					<div class="_overflow _table_div">
						<table class="_table">
								<!-- TABLE TITLE -->
							<tr>
								<th>No.</th>
								<th>Tittle</th>
								<th>Slider image</th>
								<th>Place</th>
								<th>Date and Time</th>
								<th>Description</th>
								<th>Action</th>
							</tr>
								<!-- TABLE TITLE -->


								<!-- ITEMS -->
							<tr v-for="(news, i) in newsLists" :key="i" v-if="newsLists.length">
								<td>{{i+1}}</td>
								<td class="_table_name">{{news.title}}</td>
								<td class="table_image">
									<img :src="news.sliderImg"/>
								</td>
								<td class="_table_name">{{news.place}}</td>
								<td class="">{{news.dateTime}}</td>
                                <td v-if="news.description">
                                    <span v-if="news.description.length<=20">{{news.description}}</span> 
                                    <span v-else @click="viewMore(news.id)">{{news.description.substring(1, 20)}}.. <Button type="info">See more</Button></span>
                                </td>
								<!-- <td>{{news.description}}</td> -->
								<td>
									<Button type="info" size="small" @click="showEditModal(news, i)">Edit</Button> 
								    <Button type="error" size="small" @click="showDeletingModal(news, i)"  :loading="news.isDeleting">Delete</Button>
									
								</td>
							</tr>
								<!-- ITEMS -->
					</table>
					</div>
				</div>


				<!-- tag adding modal -->
				<Modal
					v-model="addModal"
					title="Add News"
					:mask-closable="false"
					:closable="false"
					>
                    
					<Input v-model="data.title" placeholder="Add Tittle"  />
                    <div class="space"></div>
					<Input v-model="data.place" placeholder="Add place"  />
                    <div class="space"></div>
					<DatePicker type="datetime" format="yyyy-MM-dd HH:mm" @on-change="addPsDate" placeholder="Select date and time" style="width: 200px"></DatePicker>
					<div class="space"></div>
                    <Input v-model="data.description" placeholder="Add description"  />
                    <div class="space"></div>
                    <Upload
                        ref="uploads"
                        type="drag"
                        :headers="{'x-csrf-token' : token, 'X-Requested-With' : 'XMLHttpRequest'}"
						:on-success="handleSuccess"
						:on-error="handleError"
						:format="['jpg','jpeg','png']"
						:max-size="2048"
						:on-format-error="handleFormatError"
						:on-exceeded-size="handleMaxSize"
                        action="/app/upload">
                        <div style="padding: 20px 0">
                            <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                            <p>Click or drag files here to upload</p>
                        </div>
                    </Upload>
					<div class="demo-upload-list" v-if="data.sliderImg">
						
							<img :src="`${data.sliderImg}`">
							<div class="demo-upload-list-cover">
								<Icon type="ios-trash-outline" @click="deleteImage"></Icon>
							</div>
					</div>
					<div slot="footer">
						<Button type="default" @click="addModal=false">Close</Button>
						<Button type="primary" @click="addNews" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Adding..' : 'Add News'}}</Button>
					</div>

				</Modal>
				<!--  editing modal -->
				<Modal
					v-model="editModal"
					title="Edit news"
					:mask-closable="false"
					:closable="false"

					>
                    <Input v-model="editData.title" placeholder="Add Tittle"  />
                    <div class="space"></div>
					<Input v-model="editData.place" placeholder="Add place"  />
                    <div class="space"></div>
					<DatePicker type="datetime" format="yyyy-MM-dd HH:mm" @on-change="editPsDate" :value="editData.dateTime" placeholder="Select date and time" style="width: 200px"></DatePicker>
					<div class="space"></div>
                    <Input v-model="editData.description" placeholder="Add description"  />
                    <div class="space"></div>
                    <Upload v-show="isIconImageNew"
                        ref="editDataUploads"
                        type="drag"
                        :headers="{'x-csrf-token' : token, 'X-Requested-With' : 'XMLHttpRequest'}"
						:on-success="handleSuccess"
						:on-error="handleError"
						:format="['jpg','jpeg','png']"
						:max-size="2048"
						:on-format-error="handleFormatError"
						:on-exceeded-size="handleMaxSize"
                        action="/app/upload">
                        <div style="padding: 20px 0">
                            <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                            <p>Click or drag files here to upload</p>
                        </div>
                    </Upload>
					<div class="demo-upload-list" v-if="editData.sliderImg">
						
							<img :src="`${editData.sliderImg}`">
							<div class="demo-upload-list-cover">
								<Icon type="ios-trash-outline" @click="deleteImage(false)"></Icon>
							</div>
						
						
					</div>
					
					<div slot="footer">
						<Button type="default" @click="closeEditModal">Close</Button>
						<Button type="primary" @click="editNews" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Editing..' : 'Edit news'}}</Button>
					</div>

				</Modal>
				<deleteModal></deleteModal>
                <Modal
                v-model="msgModal"
                width="600px;"
                :mask-closable="false"
                title="message"
                        >
                    <div class="row mText-center" >
                    <div class="col-12 col-md-12">
                        <div class="_3login_input_group">
                        <p>{{data.description}}</p>
                        </div>
                    </div>
                    </div>
                    <div slot="footer">
                    <Button  type="primary"  @click="msgModal = false">Cancel</Button>
                    </div>
                </Modal>
			</div>
		</div>
    </div>
</template>


<script>
import deleteModal from '../components/deleteModal.vue'
import {mapGetters} from 'vuex'
export default {
	data(){
		return {
			
            msgModal: false,
			data : {
				sliderImg: '', 
				title: '',
				place: '',
				dateTime: '',
				description: ''
			}, 
			addModal : false, 
			editModal : false, 
			isAdding : false, 
			newsLists : [], 
			editData : {
				sliderImg: '', 
				title: '',
				place: '',
				dateTime: '',
				description: ''
            }, 
            newsId:'',
			index : -1, 
			showDeleteModal: false, 
			isDeleing : false,
			deleteItem: {}, 
            deletingIndex: -1, 
			token: '', 
			isIconImageNew: false, 
			isEditingItem: false,
			websiteSettings: []

		}
	},

	methods : {
        addPsDate(date){
              this.data.dateTime=date
          },
        editPsDate(date){
              this.editData.dateTime=date
          },
        async viewMore (id) {
            this.newsId = id
            const res = await this.callApi('get',`app/getdescription?newsId=${this.newsId}`)
            if(res.status == 200){
                this.data = res.data
                this.msgModal = true;
            }
        },
		async addNews(){
			if(this.data.title.trim()=='') return this.e('title is required')
			if(this.data.place.trim()=='') return this.e('place is required')
			if(this.data.dateTime == '') return this.e('dateTime is required')
			if(this.data.description.trim()=='') return this.e('description is required')
			if(this.data.sliderImg == null) return this.e('Image is required')
			this.data.sliderImg = `${this.data.sliderImg}`
			const res = await this.callApi('post', 'app/create_news', this.data)
			if(res.status===201){
				console.log(res.data)
				this.newsLists.unshift(res.data)
				this.s('News has been added successfully!')
				this.data.title = ''
				this.data.place = ''
				this.data.dateTime = ''
				this.data.description = ''
                this.data.sliderImg = null
                this.data={}
				this.addModal = false
			}else{
				if(res.status==422){
					if(res.data.errors.title){
						this.e(res.data.errors.title[0])
					}
					if(res.data.errors.place){
						this.e(res.data.errors.place[0])
					}
					if(res.data.errors.dateTime){
						this.e(res.data.errors.dateTime[0])
					}
					if(res.data.errors.description){
						this.e(res.data.errors.description[0])
					}
					if(res.data.errors.sliderImg){
						this.e(res.data.errors.sliderImg[0])
					}
					
				}else{
					this.swr()
				}
				
			}

		},
		async editNews(){
            if(this.editData.title.trim()=='') return this.e('title is required')
			if(this.editData.place.trim()=='') return this.e('place is required')
			if(this.editData.dateTime == '') return this.e('dateTime is required')
			if(this.editData.description.trim()=='') return this.e('description is required')
			if(this.editData.sliderImg == null) return this.e('Image is required')
			// if(this.editData.categoryName.trim()=='') return this.e('Category name is required')
			// if(this.editData.sliderImg.trim()=='') return this.e('Icon image is required')
			const res = await this.callApi('post', 'app/edit_news', this.editData)
			if(res.status===200){
				this.newsLists[this.index] = this.editData
				this.s('News has been edited successfully!')
				this.editModal = false
				
			}else{
				if(res.status==422){
					
                    
                    if(res.data.errors.title){
						this.e(res.data.errors.title[0])
					}
					if(res.data.errors.place){
						this.e(res.data.errors.place[0])
					}
					if(res.data.errors.dateTime){
						this.e(res.data.errors.dateTime[0])
					}
					if(res.data.errors.description){
						this.e(res.data.errors.description[0])
					}
					if(res.data.errors.sliderImg){
						this.e(res.data.errors.sliderImg[0])
					}
					
				}else{
					this.swr()
				}
				
			}

		},
		showEditModal(news, index){
			this.editData = news
			this.editModal = true
			this.index = index
			this.isEditingItem = true
		}, 
		
		showDeletingModal(news, i){
		 const deleteModalObj  =  {
				showDeleteModal: true, 
				deleteUrl : 'app/delete_news', 
				data : news, 
				deletingIndex: i, 
				isDeleted : false,
			}
			this.$store.commit('setDeletingModalObj', deleteModalObj)
			// this.deleteItem = tag
			// this.deletingIndex = i
			// this.showDeleteModal = true

		}, 
		handleSuccess (res, file) {
			
			res = `http://ecofyadmin.appifylab.com/uploads/${res}`
			if(this.isEditingItem){
				console.log('inside')
				return this.editData.sliderImg = res
			}
			console.log(res)
			this.data.sliderImg = res
		},
		handleError (res, file) {
			this.$Notice.warning({
				title: 'The file format is incorrect',
				desc: `${file.errors.file.length ? file.errors.file[0] : 'Something went wrong!'}`
			});
		},
		handleFormatError (file) {
			this.$Notice.warning({
				title: 'The file format is incorrect',
				desc: 'File format of ' + file.name + ' is incorrect, please select jpg or png.'
			});
		},
		handleMaxSize (file) {
			this.$Notice.warning({
				title: 'Exceeding file size limit',
				desc: 'File  ' + file.name + ' is too large, no more than 2M.'
			});
		},
		async deleteImage(isAdd=true){
			let image
			if(!isAdd){ // for editing.... 
				this.isIconImageNew = true
				image = this.editData.sliderImg
				this.editData.sliderImg = ''
				this.$refs.editDataUploads.clearFiles()
			}else{
				image = this.data.sliderImg
				this.data.sliderImg = ''
				this.$refs.uploads.clearFiles()
			}
			
			const res = await this.callApi('post', 'app/delete_image', {imageName: image})
			if(res.status!=200){
				this.data.sliderImg = image
				this.swr()
			}
		}, 
		closeEditModal(){
			this.isEditingItem = false
			this.editModal = false
		}
	}, 

	async created(){
        this.token = window.Laravel.csrfToken
		const res = await this.callApi('get', 'app/get_news')
		if(res.status==200){
			this.newsLists = res.data
		}else{
			this.swr()
		}
	}, 
	components : {
		deleteModal
	},
	computed : {
		...mapGetters(['getDeleteModalObj'])
	},
	watch : {
		getDeleteModalObj(obj){
			if(obj.isDeleted){
				this.newsLists.splice(obj.deletingIndex,1)
			}
		}
	}


	
}
</script>