<template>
    <div>
       <div class="content">
			<div class="container-fluid">
				
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">PayPal Information</p>
                    

					<div class="_overflow _table_div">
						<table class="_table">
								

							<tr>
								<th>No.</th>
								<th>Clint Id</th>
								<th>Secret Key</th>
								<th>Action</th>
							</tr>
								<!-- TABLE TITLE -->


								<!-- ITEMS -->
							<tr v-for="(news, i) in paypalInfoLists" :key="i" v-if="paypalInfoLists.length">
								<td>{{i+1}}</td>
								<td type="textarea" class="">{{news.client_id}}</td>
								
								<td type="textarea" class="">{{news.secret_key}}</td>
								
								<td>
									<Button type="info" size="small" @click="showEditModal(news, i)">Edit</Button> 
								    <Button type="error" size="small" @click="showDeletingModal(news, i)"  :loading="news.isDeleting">Delete</Button>
									
								</td>
							</tr>
								<!-- ITEMS -->
					</table>
					</div>
				</div>


				
				<!--  editing modal -->
				<Modal
					v-model="editModal"
					title="Edit PayPal info"
					:mask-closable="false"
					:closable="false"

					>
                    <Input v-model="editData.client_id" placeholder="Add Client Id"  />
                    <div class="space"></div>
					<Input v-model="editData.secret_key" placeholder="Add Secret Key"  />
                    <div class="space"></div>
					
					
					<div slot="footer">
						<Button type="default" @click="closeEditModal">Close</Button>
						<Button type="primary" @click="editNews" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Editing..' : 'Edit info'}}</Button>
					</div>

				</Modal>
				<deleteModal></deleteModal>
                <Modal
                v-model="msgModal"
                width="600px;"
                :mask-closable="false"
                title="message"
                        >
                    <div class="row mText-center" >
                    <div class="col-12 col-md-12">
                        <div class="_3login_input_group">
                        <p>{{data.description}}</p>
                        </div>
                    </div>
                    </div>
                    <div slot="footer">
                    <Button  type="primary"  @click="msgModal = false">Cancel</Button>
                    </div>
                </Modal>
			</div>
		</div>
    </div>
</template>


<script>
import deleteModal from '../components/deleteModal.vue'
import {mapGetters} from 'vuex'
export default {
	data(){
		return {
			
            msgModal: false,
			data : {
				client_id: '', 
				secert_key: '',
				
			}, 
			addModal : false, 
			editModal : false, 
			isAdding : false, 
			paypalInfoLists : [], 
			editData : {
				client_id: '', 
				secret_key: '',
				
            }, 
            newsId:'',
			index : -1, 
			showDeleteModal: false, 
			isDeleing : false,
			deleteItem: {}, 
            deletingIndex: -1, 
			token: '', 
			isIconImageNew: false, 
			isEditingItem: false,
			websiteSettings: []
		}
	},

	methods : {
        addPsDate(date){
              this.data.dateTime=date
          },
        editPsDate(date){
              this.editData.dateTime=date
          },
        async viewMore (id) {
            this.newsId = id
            const res = await this.callApi('get',`app/getdescription?newsId=${this.newsId}`)
            if(res.status == 200){
                this.data = res.data
                this.msgModal = true;
            }
        },
		async addNews(){
			if(this.data.client_id.trim()=='') return this.e('Client Id is required')
			if(this.data.secert_key.trim()=='') return this.e('Secret Key is required')
			
			
			const res = await this.callApi('post', 'app/create_payPalInfo', this.data)
			if(res.status===201){
				console.log(res.data)
				this.paypalInfoLists.unshift(res.data)
				this.s('PayPal Info has been added successfully!')
				this.data.client_id = ''
				this.data.secert_key = ''
				
                this.data={}
				this.addModal = false
			}else{
				if(res.status==422){
					if(res.data.errors.client_id){
						this.e(res.data.errors.client_id[0])
					}
					if(res.data.errors.secert_key){
						this.e(res.data.errors.secert_key[0])
					}
					
				}else{
					this.swr()
				}
				
			}

		},
		async editNews(){
            if(this.editData.client_id.trim()=='') return this.e('Client Id is required')
			if(this.editData.secret_key.trim()=='') return this.e('Secret Key is required')
			
			// if(this.editData.categoryName.trim()=='') return this.e('Category name is required')
			// if(this.editData.sliderImg.trim()=='') return this.e('Icon image is required')
			const res = await this.callApi('post', 'app/edit_paypal', this.editData)
			if(res.status===200){
				this.paypalInfoLists[this.index] = this.editData
				this.s('PayPal info has been edited successfully!')
				this.editModal = false
				
			}else{
				if(res.status==422){
					
                    
                    if(res.data.errors.client_id){
						this.e(res.data.errors.client_id[0])
					}
					if(res.data.errors.secret_key){
						this.e(res.data.errors.secret_key[0])
					}
					
					
				}else{
					this.swr()
				}
				
			}

		},
		showEditModal(news, index){
			this.editData = news
			this.editModal = true
			this.index = index
			this.isEditingItem = true
		}, 
		
		showDeletingModal(news, i){
		 const deleteModalObj  =  {
				showDeleteModal: true, 
				deleteUrl : 'app/delete_PaypalInfo', 
				data : news, 
				deletingIndex: i, 
				isDeleted : false,
			}
			this.$store.commit('setDeletingModalObj', deleteModalObj)
			// this.deleteItem = tag
			// this.deletingIndex = i
			// this.showDeleteModal = true

		}, 
		handleSuccess (res, file) {
			
			res = `http://ecofyadmin.appifylab.com/uploads/${res}`
			if(this.isEditingItem){
				console.log('inside')
				return this.editData.sliderImg = res
			}
			console.log(res)
			this.data.sliderImg = res
		},
		handleError (res, file) {
			this.$Notice.warning({
				title: 'The file format is incorrect',
				desc: `${file.errors.file.length ? file.errors.file[0] : 'Something went wrong!'}`
			});
		},
		handleFormatError (file) {
			this.$Notice.warning({
				title: 'The file format is incorrect',
				desc: 'File format of ' + file.name + ' is incorrect, please select jpg or png.'
			});
		},
		handleMaxSize (file) {
			this.$Notice.warning({
				title: 'Exceeding file size limit',
				desc: 'File  ' + file.name + ' is too large, no more than 2M.'
			});
		},
		async deleteImage(isAdd=true){
			let image
			if(!isAdd){ // for editing.... 
				this.isIconImageNew = true
				image = this.editData.sliderImg
				this.editData.sliderImg = ''
				this.$refs.editDataUploads.clearFiles()
			}else{
				image = this.data.sliderImg
				this.data.sliderImg = ''
				this.$refs.uploads.clearFiles()
			}
			
			const res = await this.callApi('post', 'app/delete_image', {imageName: image})
			if(res.status!=200){
				this.data.sliderImg = image
				this.swr()
			}
		}, 
		closeEditModal(){
			this.isEditingItem = false
			this.editModal = false
		}
	}, 

	async created(){
        this.token = window.Laravel.csrfToken
		const res = await this.callApi('get', 'app/get_PayPalInfo')
		if(res.status==200){
			this.paypalInfoLists = res.data
		}else{
			this.swr()
		}
	}, 
	components : {
		deleteModal
	},
	computed : {
		...mapGetters(['getDeleteModalObj'])
	},
	watch : {
		getDeleteModalObj(obj){
			if(obj.isDeleted){
				this.paypalInfoLists.splice(obj.deletingIndex,1)
			}
		}
	}


	
}
</script>