<template>
    <div>
       <div class="content">
			<div class="container-fluid">
				
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">Questions <Button @click="addModal=true"><Icon type="md-add" /> Add question</Button></p>
                    

					<div class="_overflow _table_div">
						<table class="_table">
								<!-- TABLE TITLE -->
							<tr>
								<th>No.</th>
								<th>Question</th>
								<th>Hint</th>
								<th>Action</th>
							</tr>
								<!-- TABLE TITLE -->


								<!-- ITEMS -->
							<tr v-for="(item, index) in questionLists" :key="index" v-if="questionLists.length">
								<td>{{index+1}}</td>
								<td>{{item.question}}</td>
								<td>{{item.hint}}</td>
								<td>
									<Button type="info" size="small" @click="showEditModal(item, index)">Edit</Button> 
								    <Button type="error" size="small" @click="topic_delete(item.id, index)"  :loading="item.isDeleting">Delete</Button>
									
								</td>
							</tr>
								<!-- ITEMS -->
					</table>
					</div>
				</div>


				<!-- tag adding modal -->
				<Modal
					v-model="addModal"
					title="Add Question"
					:mask-closable="false"
					:closable="false"
					>
                   
                    <Input type="textarea" v-model="data.question" placeholder="Add question"  />
                    <div class="space"></div>
                    <Input type="textarea" v-model="data.hint" placeholder="Add hint(optional)"  />
                    <div class="space"></div>
                    
					<div slot="footer">
						<Button type="default" @click="addModal=false">Close</Button>
						<Button type="primary" @click="addQuestion" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Adding..' : 'Add question'}}</Button>
					</div>

				</Modal>
				<!--  editing modal -->
				<Modal
					v-model="editModal"
					title="Edit Question"
					:mask-closable="false"
					:closable="false"

					>
                    <Input type="textarea" v-model="editData.question" placeholder="Add question"  />
                    <div class="space"></div>
                    <Input type="textarea" v-model="editData.hint" placeholder="Add hint"  />
                    <div class="space"></div>
					
					<div slot="footer">
						<Button type="default" @click="closeEditModal">Close</Button>
						<Button type="primary" @click="editQuestion" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Editing..' : 'Edit question'}}</Button>
					</div>

				</Modal>
				<deleteModal></deleteModal>
                
			</div>
		</div>
    </div>
</template>


<script>
import deleteModal from '../components/deleteModal.vue'
import {mapGetters} from 'vuex'
export default {
	data(){
		return {
			data : {
				question: '',
				hint: '',
			}, 
			addModal : false, 
			editModal : false, 
			isAdding : false, 
			questionLists : [], 
			editData : {
				// question: ''
            }, 
			index : -1, 
			showDeleteModal: false, 
			isDeleing : false,
			deleteItem: {}, 
            deletingIndex: -1, 
			token: '', 
			isIconImageNew: false, 
			isEditingItem: false,
			websiteSettings: []

		}
	},

	methods : {
		async topic_delete(id,index){
            let ob = {
                id:id
            }
            const res = await this.callApi('post','app/delete_question',ob)
            if(res.status == 200){
                this.i('Question have been successfully Deleted!')
                this.questionLists.splice(index,1)
            }
        },
        
		async addQuestion(){
			
			if(this.data.question.trim()=='') return this.e('Question is required')
			// if(this.data.hint.trim()=='') return this.e('Hint is required')
			
			const res = await this.callApi('post', 'app/create_question', this.data)
			if(res.status===201){
				console.log(res.data)
				this.questionLists.unshift(res.data)
				this.s('Question has been added successfully!')
				
				this.data.question = ''
				this.data.hint = ''
                this.data={}
				this.addModal = false
			}else{
				if(res.status==422){
					
					if(res.data.errors.question){
						this.e(res.data.errors.question[0])
					}
					if(res.data.errors.hint){
						this.e(res.data.errors.hint[0])
					}
					
				}else{
					this.swr()
				}
				
			}

		},
		async editQuestion(){
			if(this.editData.question.trim()=='') return this.e('Question is required')
			const res = await this.callApi('post', 'app/edit_question', this.editData)
			if(res.status===200){
				this.questionLists[this.index] = this.editData
				this.s('Question has been edited successfully!')
				this.editModal = false
				
			}else{
				if(res.status==422){
					if(res.data.errors.question){
						this.e(res.data.errors.question[0])
					}
				}else{
					this.swr()
				}
				
			}

		},
		showEditModal(item, index){
			this.editData = item
			this.editModal = true
			this.index = index
			this.isEditingItem = true
		}, 
		
		showDeletingModal(item, index){
		 const deleteModalObj  =  {
				showDeleteModal: true, 
				deleteUrl : 'app/delete_question', 
				data : item, 
				deletingIndex: index, 
				isDeleted : false,
			}
			this.$store.commit('setDeletingModalObj', deleteModalObj)
			

		}, 
		
		
		closeEditModal(){
			this.isEditingItem = false
			this.editModal = false
		}
	}, 

	async created(){
        this.token = window.Laravel.csrfToken
		const res = await this.callApi('get', 'app/get_question')
		if(res.status==200){
			this.questionLists = res.data
		}else{
			this.swr()
		}
	}, 
	components : {
		deleteModal
	},
	computed : {
		...mapGetters(['getDeleteModalObj'])
	},
	watch : {
		getDeleteModalObj(obj){
			if(obj.isDeleted){
				this.questionLists.splice(obj.deletingIndex,1)
				// this.FaqLists.splice(index,1)
			}
		}
	}


	
}
</script>