<template>
    <div>
       <div class="content">
			<div class="container-fluid">
				
				<!--~~~~~~~ TABLE ONE ~~~~~~~~~-->
				<div class="_1adminOverveiw_table_recent _box_shadow _border_radious _mar_b30 _p20">
					<p class="_title0">Transport Recommandation <Button @click="addModal=true"><Icon type="md-add" /> Add Recommandation</Button></p>
                    

					<div class="_overflow _table_div">
						<table class="_table">
								<!-- TABLE TITLE -->
							<tr>
								<th>No.</th>
								<th>Transport Name</th>
								<th>Image</th>
								<th>Rating</th>
								<th>Carbon Footprint</th>
								<th>Description</th>
								<th>Action</th>
							</tr>
								<!-- TABLE TITLE -->


								<!-- ITEMS -->
							<tr v-for="(item, index) in RecommandationLists" :key="index" v-if="RecommandationLists.length">
								<td>{{index+1}}</td>
								<td class="_table_name">{{item.name}}</td>
								<td class="table_image">
									<img :src="item.image"/>
								</td>
								<td class="_table_name">{{item.rating}}</td>
								<td class="">{{item.carbonFootprint}}</td>
                                <td v-if="item.description">
                                    <span v-if="item.description.length<=20">{{item.description}}</span> 
                                    <span v-else @click="viewMore(item.id)">{{item.description.substring(1, 20)}}.. <Button type="info">See more</Button></span>
                                </td>
								<!-- <td>{{news.description}}</td> -->
								<td>
									<Button type="info" size="small" @click="showEditModal(item, index)">Edit</Button> 
								    <Button type="error" size="small" @click="showDeletingModal(item, index)"  :loading="item.isDeleting">Delete</Button>
									
								</td>
							</tr>
								<!-- ITEMS -->
					</table>
					</div>
				</div>


				<!-- tag adding modal -->
				<Modal
					v-model="addModal"
					title="Add Transport Recommandation"
					:mask-closable="false"
					:closable="false"
					>
                    
					<Input v-model="data.name" placeholder="Add Transport Name"  />
                    <div class="space"></div>
					
                    <Input v-model="data.description" placeholder="Add description"  />
                    <div class="space"></div>

					<Input v-model="data.rating" placeholder="Add Rating"  />
                    <div class="space"></div>

					<Input v-model="data.carbonFootprint" placeholder="Add Carbon Footprint"  />
                    <div class="space"></div>
                    <Upload
                        ref="uploads"
                        type="drag"
                        :headers="{'x-csrf-token' : token, 'X-Requested-With' : 'XMLHttpRequest'}"
						:on-success="handleSuccess"
						:on-error="handleError"
						:format="['jpg','jpeg','png']"
						:max-size="2048"
						:on-format-error="handleFormatError"
						:on-exceeded-size="handleMaxSize"
                        action="/app/upload">
                        <div style="padding: 20px 0">
                            <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                            <p>Click or drag files here to upload</p>
                        </div>
                    </Upload>
					<div class="demo-upload-list" v-if="data.image">
						
							<img :src="`${data.image}`">
							<div class="demo-upload-list-cover">
								<Icon type="ios-trash-outline" @click="deleteImage"></Icon>
							</div>
					</div>
					<div slot="footer">
						<Button type="default" @click="addModal=false">Close</Button>
						<Button type="primary" @click="addRecommandation" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Adding..' : 'Add Recommandation'}}</Button>
					</div>

				</Modal>
				<!--  editing modal -->
				<Modal
					v-model="editModal"
					title="Edit Transport Recommandation"
					:mask-closable="false"
					:closable="false"

					>
                    <Input v-model="editData.name" placeholder="Add Transport Name"  />
                    <div class="space"></div>
					
                    <Input v-model="editData.description" placeholder="Add description"  />
                    <div class="space"></div>

					<Input v-model="editData.rating" placeholder="Add Rating"  />
                    <div class="space"></div>

					<Input v-model="editData.carbonFootprint" placeholder="Add Carbon Footprint"  />
                    <div class="space"></div>
                    <Upload v-show="isIconImageNew"
                        ref="editDataUploads"
                        type="drag"
                        :headers="{'x-csrf-token' : token, 'X-Requested-With' : 'XMLHttpRequest'}"
						:on-success="handleSuccess"
						:on-error="handleError"
						:format="['jpg','jpeg','png']"
						:max-size="2048"
						:on-format-error="handleFormatError"
						:on-exceeded-size="handleMaxSize"
                        action="/app/upload">
                        <div style="padding: 20px 0">
                            <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                            <p>Click or drag files here to upload</p>
                        </div>
                    </Upload>
					<div class="demo-upload-list" v-if="editData.image">
						
							<img :src="`${editData.image}`">
							<div class="demo-upload-list-cover">
								<Icon type="ios-trash-outline" @click="deleteImage(false)"></Icon>
							</div>
						
						
					</div>
					
					<div slot="footer">
						<Button type="default" @click="closeEditModal">Close</Button>
						<Button type="primary" @click="editRecommandation" :disabled="isAdding" :loading="isAdding">{{isAdding ? 'Editing..' : 'Edit Recommandation'}}</Button>
					</div>

				</Modal>
				<deleteModal></deleteModal>
                <Modal
                v-model="msgModal"
                width="600px;"
                :mask-closable="false"
                title="message"
                        >
                    <div class="row mText-center" >
                    <div class="col-12 col-md-12">
                        <div class="_3login_input_group">
                        <p>{{data.description}}</p>
                        </div>
                    </div>
                    </div>
                    <div slot="footer">
                    <Button  type="primary"  @click="msgModal = false">Cancel</Button>
                    </div>
                </Modal>
			</div>
		</div>
    </div>
</template>


<script>
import deleteModal from '../components/deleteModal.vue'
import {mapGetters} from 'vuex'
export default {
	data(){
		return {
            msgModal: false,
			data : {
				image: '', 
				type: '', 
				name: '',
				rating: '',
				carbonFootprint: '',
				description: ''
			}, 
			addModal : false, 
			editModal : false, 
			isAdding : false, 
			RecommandationLists : [], 
			editData : {
				image: '', 
				type: '', 
				name: '',
				rating: '',
				carbonFootprint: '',
				description: ''
            }, 
            Id:'',
			index : -1, 
			showDeleteModal: false, 
			isDeleing : false,
			deleteItem: {}, 
            deletingIndex: -1, 
			token: '', 
			isIconImageNew: false, 
			isEditingItem: false,
			websiteSettings: []

		}
	},

	methods : {
        addPsDate(date){
              this.data.dateTime=date
          },
        editPsDate(date){
              this.editData.dateTime=date
          },
        async viewMore (id) {
            this.Id = id
            const res = await this.callApi('get',`app/getDescOfRecommandation?Id=${this.Id}`)
            if(res.status == 200){
                this.data = res.data
                this.msgModal = true;
            }
        },
		async addRecommandation(){
			if(this.data.name.trim()=='') return this.e('Name is required')
			if(this.data.carbonFootprint == '') return this.e('Carbon footprint is required')
			if(this.data.rating == '') return this.e('Rating is required')
			if(this.data.description.trim()=='') return this.e('Description is required')
			if(this.data.image == null) return this.e('Image is required')
			this.data.image = `${this.data.image}`
			this.data.type = 'transport'
			const res = await this.callApi('post', 'app/create_recommandation', this.data)
			if(res.status===201){
				console.log(res.data)
				this.RecommandationLists.unshift(res.data)
				this.s('Recommandation has been added successfully!')
				this.data.name = ''
				this.data.carbonFootprint = ''
				this.data.rating = ''
				this.data.description = ''
				this.data.type = ''
                this.data.image = null
                this.data={}
				this.addModal = false
			}else{
				if(res.status==422){
					if(res.data.errors.name){
						this.e(res.data.errors.name[0])
					}
					if(res.data.errors.carbonFootprint){
						this.e(res.data.errors.carbonFootprint[0])
					}
					if(res.data.errors.rating){
						this.e(res.data.errors.rating[0])
					}
					if(res.data.errors.description){
						this.e(res.data.errors.description[0])
					}
					if(res.data.errors.type){
						this.e(res.data.errors.type[0])
					}
					if(res.data.errors.image){
						this.e(res.data.errors.image[0])
					}
					
				}else{
					this.swr()
				}
				
			}

		},
		async editRecommandation(){
            if(this.editData.name.trim()=='') return this.e('Name is required')
			if(this.editData.carbonFootprint == '') return this.e('Carbon footprint is required')
			if(this.editData.rating == '') return this.e('Rating is required')
			if(this.editData.description.trim()=='') return this.e('Description is required')
			if(this.editData.image == null) return this.e('Image is required')
			const res = await this.callApi('post', 'app/editRecommandation', this.editData)
			if(res.status===200){
				this.RecommandationLists[this.index] = this.editData
				this.s('Recommandation has been edited successfully!')
				this.editModal = false
				
			}else{
				if(res.status==422){
					if(res.editData.errors.name){
						this.e(res.editData.errors.name[0])
					}
					if(res.editData.errors.carbonFootprint){
						this.e(res.editData.errors.carbonFootprint[0])
					}
					if(res.editData.errors.rating){
						this.e(res.editData.errors.rating[0])
					}
					if(res.editData.errors.description){
						this.e(res.editData.errors.description[0])
					}
					if(res.editData.errors.type){
						this.e(res.editData.errors.type[0])
					}
					if(res.editData.errors.image){
						this.e(res.editData.errors.image[0])
					}
					
				}else{
					this.swr()
				}
				
			}

		},
		showEditModal(item, index){
			this.editData = item
			this.editModal = true
			this.index = index
			this.isEditingItem = true
		}, 
		
		showDeletingModal(item, index){
		 const deleteModalObj  =  {
				showDeleteModal: true, 
				deleteUrl : 'app/deleteRecommandation', 
				data : item, 
				deletingIndex: index, 
				isDeleted : false,
			}
			this.$store.commit('setDeletingModalObj', deleteModalObj)
			// this.deleteItem = tag
			// this.deletingIndex = i
			// this.showDeleteModal = true

		}, 
		handleSuccess (res, file) {
			res = `http://ecofyadmin.appifylab.com/uploads/${res}`
			if(this.isEditingItem){
				console.log('inside')
				return this.editData.image = res
			}
			// console.log(res)
			this.data.image = res
		},
		handleError (res, file) {
			this.$Notice.warning({
				title: 'The file format is incorrect',
				desc: `${file.errors.file.length ? file.errors.file[0] : 'Something went wrong!'}`
			});
		},
		handleFormatError (file) {
			this.$Notice.warning({
				title: 'The file format is incorrect',
				desc: 'File format of ' + file.name + ' is incorrect, please select jpg or png.'
			});
		},
		handleMaxSize (file) {
			this.$Notice.warning({
				title: 'Exceeding file size limit',
				desc: 'File  ' + file.name + ' is too large, no more than 2M.'
			});
		},
		async deleteImage(isAdd=true){
			let image
			if(!isAdd){ // for editing.... 
				this.isIconImageNew = true
				image = this.editData.sliderImg
				this.editData.sliderImg = ''
				this.$refs.editDataUploads.clearFiles()
			}else{
				image = this.data.sliderImg
				this.data.sliderImg = ''
				this.$refs.uploads.clearFiles()
			}
			
			const res = await this.callApi('post', 'app/delete_image', {imageName: image})
			if(res.status!=200){
				this.data.sliderImg = image
				this.swr()
			}
		}, 
		closeEditModal(){
			this.isEditingItem = false
			this.editModal = false
		}
	}, 

	async created(){
        this.token = window.Laravel.csrfToken
		const res = await this.callApi('get', 'app/getTransportRecommendation')
		if(res.status==200){
			this.RecommandationLists = res.data
		}else{
			this.swr()
		}
	}, 
	components : {
		deleteModal
	},
	computed : {
		...mapGetters(['getDeleteModalObj'])
	},
	watch : {
		getDeleteModalObj(obj){
			if(obj.isDeleted){
				this.RecommandationLists.splice(obj.deletingIndex,1)
			}
		}
	}


	
}
</script>